{% extends "layout/base.html" %}

{% block content %}

{% if user.is_authenticated %}

<div class="mainText">
    <h2 style="color: gainsboro;">A Digital Ecosystem</h2>

</div>

<div style="margin-top: 2%;">
    <div class="mainMenu">
        <a class="buttonMain" href="{% url 'knowledge_graph' %}">Knowledge Graph</a>
    </div>
    <br><br>
    <div class="mainMenu">
        <a class="buttonMain" href="{% url 'configure_scenario' %}">Configure Scenario</a>
    </div>
    <br><br>
    <div class="mainMenu">
        <a class="buttonMain" href="{% url 'execute_scenario' %}">Execute Scenario</a>
    </div>
    <br><br>
    <div class="mainMenu">
        <a class="buttonMain" href="{% url 'compare_scenarios' %}">Compare Scenarios</a>
    </div>
    <br><br>
    <div class="mainMenu">
        <a class="buttonMain" href="{% url 'share_scenario' %}">Share Scenario</a>
    </div>
</div>

{% else %}

<div class="mainText">
    <p style="color: gainsboro;">Main Page</p>

</div>
<div style="margin-top: 8%;">
<br><br>
    <div class="mainMenu">
        <a href="{% url 'login' %}" class="buttonMain">Login</a>

    </div>
</div>

{% endif %}

{% endblock %}