{% extends "layout/base.html" %}

{% block content %}

<div class="d-flex justify-content-center align-items-center">
    <h1 class="text-center">Scenarios Comparison</h1><br>
</div>
<div class="d-flex justify-content-center align-items-center">
    <div class="row d-flex justify-content-center align-items-center">
        {% for url, name in scenario_img_urls.items %}
            <div class="d-flex justify-content-center align-items-center" style="flex-direction: column; flex-wrap: wrap;">
                <p class="text-center">{{ name }}</p>
                <img src="{{ url }}" alt="ScenarioResults">
                <br><br>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}