{% load static %}

<style>
    .buttonMenu {
        background: url({% static 'img/buttonMenu.png' %}) no-repeat;
    }
    .buttonHelp {
        background: url({% static 'img/buttonHelp.png' %}) no-repeat;
    }
    .buttonOptions {
        background: url({% static 'img/buttonOptions.png' %}) no-repeat;
    }
    
</style>
<div class="container-fluid">
<div class="row p-2">

    <div class="col-4">
        {% if user.is_authenticated %}

        <button onclick="menuDrop()" class="dropdown button dropbtn buttonMenu"></button>
        <div id="myDropdown" class="dropdown-content">
            <a href="{% url 'main' %}">Home</a>
            <a href="{% url 'logout' %}">Logout</a>
        </div>
        <span style="color: gainsboro;">{{ user.username }}</a></span>

        {% endif %}
    </div>

    <div class="col-4 d-flex justify-content-center title">
        <a class="text-white text-decoration-none" href="{% url 'main' %}">EcoDTwin</a>
    </div>
</div>
</div>